<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Landing page</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/chat' ? 'active' : '' %>" href="/chat">Chat</a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            <% if (!currentUser) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <a class="<%= path === '/myfriends' ? 'active' : '' %>" href="/myfriends" >My friends</a>
                </li>
                <li class="main-header__item">
                        <a class="<%= path === '/settings' ? 'active' : '' %>" href="/settings">Settings</a>
                </li>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Landing page</a>
        </li>
        <% if (!currentUser) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/registration' ? 'active' : '' %>" href="/registration">Registracija</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <input type="hidden" name="_csrf" value="${req.csrfToken()}" />
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>