<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Landing page</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/chat' ? 'active' : '' %>" href="/chat">Chat</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/chat' ? 'active' : '' %>" href="/scaledronechat">Scaledrone chat</a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            <% if (!currentUser) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
              <%  if( currentUser.imageUrl !== undefined ) {  %>
                <img src="<%= currentUser.imageUrl %>" class="profile_img" width= "24px" height="24px"></img>
           <% } else { %>
                <img src="https://ptetutorials.com/images/user-profile.png" class="profile_img" width= "24px" height="24px"></img>
          <%  } %>
                <li class="main-header__item">
                    <a class="<%= path === '/settings' ? 'active' : '' %>" href="/settings"><%= currentUser.username %></a>
            </li>
                <li class="main-header__item">
                    <a class="<%= path === '/myfriends' ? 'active' : '' %>" href="/myfriends" >My friends</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/chat' ? 'active' : '' %>" href="/newsfeed">Newsfeed</a>
                </li>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>
