<%- include('../partials/header') %> 
<meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %> 
        <h1><%= name %> Chatroom</h1>

    <section id="chatroom">
        <section id="feedback"></section>
      </section>
   
  
      <section id="input_zone">
          <input id="roomName" type="text" value="<%= name %>" hidden />
        <input id="sender" type="text" value ="<%= currentUser.username %>" hidden>
        <input id="message" class="vertical-align" type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
      </section>

      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/rooms.js"></script>
</body>