<!DOCTYPE html>
<html>
  <%- include('../partials/header')%>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/chats/chats.css" >
    <script src="/socket.io/socket.io.js"></script>
    <title>Open chat</title>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <header>
      <h1>Chat for everyone</h1>
    </header>

    <section>
      <div id="change_username">
	<input id="username" type="text" value="<% if(currentUser !== undefined) { %>
    <%=  currentUser.username  %>
   <%  }  else { %>
    Anonymous
    <% } %>" />
    <input hidden id="imageUrl" type="url" value="<% if( currentUser !== undefined && currentUser.imageUrl !== undefined) { %>
      <%= currentUser.imageUrl %>
      <% console.log(currentUser.imageUrl) %>
      <% } else  { %>
         https://ptetutorials.com/images/user-profile.png
         <% } %> "  />
	<button id="send_username" type="button">Change username</button>
      </div>
    </section>
    <section>
      <div id="change_color">
	<input id="color" type="text" placeholder="    Input color here"/>
	<button id="send_color" type="button">Change text color</button>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>
 

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>
    <% if (currentUser) { %>
      <input type="hidden" id="userid" value="<%= currentUser._id %>">
      <% } %>
  
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
