<%- include('../partials/header.ejs') %>
<style>
    .friendBox {
        margin-bottom: 5px;
    }
</style>
</head>

<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/friends') %>
    <h1>My friends</h1>
    <ul>
        <% if (friends.length > 0) { %> 
        <% for ( var i = 0; i < friends.length; i++) { %>
         <div class="friendBox">
            <%  if( friends[i].imageUrl !== undefined ) {  %>
                <img src="<%= friends[i].imageUrl %>" class="profile_img" width="50px" height="50px"></img>
           <% } else { %>
                <img src="https://ptetutorials.com/images/user-profile.png" class="profile_img" width= "50px" height="50px"></img>
          <%  } %>   
            <a href="/userprofile/<%= friends[i].id %>"><%= friends[i].username %> </a>
            </div>
    <% } } %>
</ul>

    <h2>Find friends</h2>
    <form action="/findusers" method="GET">
        <label for="search">Find users</label>
        <input type="text" name="search" id="search">
        <input type="submit" value="Search">
       </form>
       <%if (users !== 17555) { %> 
       <% if ( users.length > 0 ) { %> 
       <h3>Found users</h3>
       <ul>
       <% for ( let user of users ) { %> 
       <li><a href="/user/<%= user._id %>"><%= user.username %></a></li>
       <form action="/sendFriendReq" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="wantedUserId" value="<%= user.id %>">
        <button type="submit">Add friend</button>
       </form>
        <% } %>
       </ul>
       <% } else { %>
        <h3>No user with that username found</h3>
        <% } %> 
    <%  } %>
</body>