<%- include('../partials/header') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %>

    <h5>Add a new post</h5>
    <form action="/newsfeed" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <textarea rows="5" cols="50" name="newpost"></textarea>
        <button id="send_message">Post!</button> 
    </form>
    <section id="postlist">
      </section>
    <% if (posts.length > 0) { %>
        <% for (var i = (posts.length - 1); i >= 0; i--) { %>
            <h5><%= posts[i].username %></h5>
        <textarea rows="5" cols="50" readonly><%= posts[i].post %></textarea>
        </br>
            <form>
                <input type="text">
            </form>
        <% } %>
    <% } %>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/posts.js"></script>
</body>