<%- include('../partials/header') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <h5>Add a new post</h5>
    <form action="/newsfeed" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <textarea rows="5" cols="50" name="newpost"></textarea>
        <button>Post!</button> 
    </form>

    <% if (posts.length > 0) { %>
        <% for (var i = (posts.length - 1); i >= 0; i--) { %>
            <h5><%= posts[i].username %></h5>
        <textarea rows="5" cols="50" readonly><%= posts[i].post %></textarea>
        </br>
            <form>
                <input type="text">
            </form>
        <% } %>
    <% } %>
</body>