<%- include('../partials/header') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<style>
    .pageselector {
        max-width: 300px;
        margin: auto;
    }
</style>
</head>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/friends') %>
    <div class="pageselector">
    <h5>Add a new post</h5>
    <form action="/newsfeed" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <textarea rows="5" cols="50" name="newpost"></textarea>
        <button id="send_message">Post!</button> 
    </form>
    <section id="postlist">
      </section>
    <% if (posts.length > 0) { %>
        <% for (var i = (posts.length - 1); i >= 0; i--) { %>
            <br>
            <h5><%= posts[i].username %></h5>
            <em class="timeSince"><%= (Date.now() - posts[i].time) %></em>
        <textarea rows="5" cols="50" readonly><%= posts[i].post %></textarea>
        </br>
        <div class="selector"> 
        <div class="commentlist" id="commentlist<%= posts[i].id %>">
        <% if ( posts[i].comments.length > 0 &&  posts[i].comments.length < 6) { %> 
        <% for ( var y = 0; y <= (posts[i].comments.length-1); y++) { %>
          <em><%= posts[i].comments[y].username %></em> <br>
          <em class="timeSince"><%= (Date.now() - posts[i].comments[y].time) %></em> <br>
           <input type="text" class="form-control-plaintext"  value="<%= posts[i].comments[y].message %>" readonly> </br>
          <% } %>
          <% } else if(posts[i].comments.length >= 6) { %>
            <% for ( var y = (posts[i].comments.length -1); y >= (posts[i].comments.length -6); y--) { %>
                <em><%= posts[i].comments[y].username %></em> <br>
                <em class="timeSince"><%= (Date.now() - posts[i].comments[y].time) %></em> <br>
                <input type="text"  value="<%= posts[i].comments[y].message %>" readonly> </br>
            <% } } else { } %>
        </div>
        </br>
        <selection>
            <input type="hidden" id="username" value="<%=currentUser.username %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" id="postid" value="<%= posts[i].id %>">
            <input type="text" id="comment">
            <button id="sendcomment" type="submit" onclick="mySubmit()">Comment!</button>
            <br> 
        </selection>
    </div>
        <% } %>
    <% } %>
</div>
    <script src="calculateTime.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/posts.js"></script>
</body>


