<%- include('../partials/header.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<style>
    .pageselector {
        max-width: 300px;
        margin: auto;
    }
    h1 {
        text-align: center;
    }
    .settingsClass {
        max-width: 300px;
        float: left;
        margin-left: 25px;
        clear: left;
        margin-top: 30px;
        border: 1px solid black;
    }

    .friendReqClass {
        width: 400px;
        text-align: center;
        float: left;
        margin-top: 50px;
        margin-left: 25px;
        border: 1px solid black;
    }

    .friendReqClass ul {
        list-style-type: none;
        padding-inline-start: 0px;
    }

    .profileInfo{
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
</style>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/friends.ejs') %>
    <div class="profileInfo">
    <% if ( currentUser.imageUrl !== undefined ) { %>
        <img src="<%= currentUser.imageUrl %>" class="profile_img_big" height="200px" width="200px"/>
        <%  } else { %>
            <img src="https://ptetutorials.com/images/user-profile.png" class="profile_img_big" height="200px" width="200px"/>
            <% } %>
    </div>
    <% var i = 0 %>
    <% currentUser.friends.forEach( friend => { %>
        <% if(friend.status === "request received") { %>
      <%  i++; }%>
   <% }) %>

    <div class="friendReqClass">
        <h3>Friend requests received: <%= i %></h3>
        <ul>
            <% currentUser.friends.forEach( friend => { %>
            <% if(friend.status === "request received") { %>
            <li>
                <img src="<%= friend.imageUrl %>" class="profile_img" width= "25px" height="25px"></img>
                <%= friend.username %>
                <form action="/acceptFriendReq" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="acceptedFriendId" value="<%= friend.userId %>">
                    <button type="submit">Accept friend</button>
                </form>
            </li>
            <% }%>
            <% }) %>
        </ul>
    </div>

    <div class="settingsClass">
        <h3>Settings</h3>
            <form action="/settings" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" value="<%= currentUser.email %>">
                </div>
                <label for="image">Profile picture</label>
                <input type="file" name="image" id="image"> 
                <div class="form-group">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary">Submit!</button>
                </div>
            </form>
        </div>

    <div class="pageselector">
        <h5>Add a new post</h5>
    <form action="/privatePost" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <textarea rows="5" cols="50" name="newpost"></textarea>
        <button id="send_message">Post!</button> 
    </form>
        <section id="postlist">
          </section>
        <% if (posts.length > 0) { %>
            <% for (var i = (posts.length - 1); i >= 0; i--) { %>
                <h5><%= posts[i].username %></h5>
            <textarea rows="5" cols="50" readonly><%= posts[i].post %></textarea>
            </br>
            <div class="selector"> 
            <div class="commentlist" id="commentlist<%= posts[i].id %>">
            <% if ( posts[i].comments.length > 0 &&  posts[i].comments.length < 6) { %> 
            <% for ( var y = 0; y <= (posts[i].comments.length-1); y++) { %>
              <em><%= posts[i].comments[y].username %></em> <input type="text" class="form-control-plaintext"  value="<%= posts[i].comments[y].message %>" readonly> </br>
              <% } %>
              <% } else if(posts[i].comments.length >= 6) { %>
                <% for ( var y = (posts[i].comments.length -1); y >= (posts[i].comments.length -6); y--) { %>
                    <em><%= posts[i].comments[y].username %></em> <input type="text"  value="<%= posts[i].comments[y].message %>" readonly> </br>
                <% } } else { } %>
            </div>
            </br>
            <selection>
                <input type="hidden" id="username" value="<%=currentUser.username %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" id="postid" value="<%= posts[i].id %>">
                <input type="text" id="comment">
                <button id="sendcomment" type="submit" onclick="mySubmit()">Comment!</button> 
            </selection>
        </div>
            <% } %>
        <% } %>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socketProfile.js"></script>
</body>
