<%- include('../partials/header') %> 
<meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/users/userprofile.css" >
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/calculateTime.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %> 
    <%- include('../partials/friends') %>
    <div class="profileInfo">
        <% if ( user.imageUrl !== undefined ) { %>
        <img src="/<%= user.imageUrl %>" class="profile_img_big" height="200px" width="200px"/>
        <%  } else { %>
            <img src="https://ptetutorials.com/images/user-profile.png" class="profile_img_big" height="200px" width="200px"/>
            <% } %>
    <h1> <%= user.username %></h1>
    <p>Contact mail: <%= user.email %></p>
    <form action="/handleFriend" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" id="userid" value="<%= currentUser._id %>">
        <input type="text" hidden value="<%= user._id %>" name="handleFriendId">
        <button name="handleFriend" class="button" value="Unfriend">Unfriend friend</button>
        <button name="handleFriend" class="button" value="Block">Block friend</button>
    </form>
    </div>
    <div class ="page">
    <section id="postlist">
    </section>
  <% if (posts.length > 0) { %>
      <% for (var i = (posts.length - 1); i >= 0; i--) { %>
          <h5><%= posts[i].username %></h5>
          <em class="timeSince"><%= (Date.now() - posts[i].time) %></em>
      <textarea rows="5" cols="50" readonly><%= posts[i].post %></textarea>
      </br>
      <div class="selector"> 
      <div class="commentlist" id="commentlist<%= posts[i].id %>">
      <% if ( posts[i].comments.length > 0 &&  posts[i].comments.length < 6) { %> 
      <% for ( var y = 0; y <= (posts[i].comments.length-1); y++) { %>
        <em><%= posts[i].comments[y].username %></em> <input type="text" class="form-control-plaintext"  value="<%= posts[i].comments[y].message %>" readonly>
        <em class="timeSince"><%= (Date.now() - posts[i].comments[y].time) %></em>
        <% } %>
        <% } else if(posts[i].comments.length >= 6) { %>
          <% for ( var y = (posts[i].comments.length -1); y >= (posts[i].comments.length -6); y--) { %>
              <em><%= posts[i].comments[y].username %></em> <input type="text"  value="<%= posts[i].comments[y].message %>" readonly> 
              <em class="timeSince"><%= (Date.now() - posts[i].comments[y].time) %></em>
              <% } } else { } %>
      </div>
      </br>
      <selection>
          <input type="hidden" id="username" value="<%=currentUser.username %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" id="postid" value="<%= posts[i].id %>">
          <input type="text" id="comment">
          <button id="sendcomment" type="submit" onclick="mySubmit()">Comment!</button> 
      </selection>
  </div>
      <% } %>
  <% } %>
</div>
</div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socketProfile.js"></script>
</body>