<%- include('../partials/header') %> 
<meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/42dba9c49b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/chats/chats.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %> 
    <%- include('../partials/friends') %>
    <h1 class="chatTitle"> <%= user.username %></h1>


    <div class="button-container">
        <button id="callFriend" class="vertical-align"><i class="fas fa-video"></i> Call friend</button>
    </div>
    <section id="chatroom">
        <section id="feedback"></section>
      </section>
   
  
      <section id="input_zone_private">
        <input id="username" type="text" value="<%= user.username %>" hidden>
        <input id="userid" type="text" value="<%= user.id %>" hidden> 
        <input id="usersocket" type="text" value="<%= user.socket %>" hidden> 
        <input id="senderid" type="text" value="<%= currentUser.id %>" hidden>
        <input id="sender" type="text" value ="<%= currentUser.username %>" hidden>
        <input id="message" class="vertical-align" type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
      </section>

      <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/socket.js"></script>
</body>