<%- include('../partials/header') %> 
</head>

<body>
    <%- include('../partials/navbar') %> 
    <h1> <%= user.username %></h1>


    <p>My name is: <%= user.username %></p>
    <p>You can contact me here <%= user.email %></p>
</body>